@model TestViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>
<p>Your name is @Model.Name</p>

@if(Model.DateOfBirth.HasValue)
{
    <p>Your date of birth is @Model.DateOfBirth.Value.ToString("dd/MM/yyyy")</p>
}
else
{
    <p>Your date of birth is not set</p>
}